params {
    config_profile_name = 'IBEX'
    config_profile_description = 'IBEX KAUST CLUSTER'
    config_profile_contact = 'Eddy Mendoza 02/05/2024'
    config_profile_url = 'Full guide: https://nf-co.re/docs/usage/tutorials/step_by_step_institutional_profile'
    max_memory = 150.GB
    max_cpus = 1000
    max_time = 100.h
}
 
process {
    executor = 'slurm'
    queue = 'batch'
    beforeScript = 'module load singularity'
}
 
singularity {
    enabled = true
    libraryDir = '/sw/rl9c/modulefiles/applications/singularity/3.9.7'
}
 
executor {
    name = 'slurm'
    queueSize = 1000
}
 